.website-name{
    font-family: 'Kaushan Script', cursive;
    color: #8BA17F;
    font-size: 40px;
}


.header-links{
    position: relative;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
}

.header-links:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #8BA17F;
    left: 0;
    bottom: -4px;
    transition: 0.3s;
}

.header-links:hover{
    color: #8BA17F; 
}

.header-links:hover::after {
    width: 100%;
}

.user-header-info{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500;
}