.mainstopwatch button {
    border: none;
    -webkit-appearance: none; 
    font-size: 22px;
    width: 140px;
    height: 55px;
    color: white; 
    background-color: #2e80b3;
    border-radius: 33px;
    transition: .3s;
   box-shadow: 6px -6px 8px #9d9d9d,
      -6px 6px 8px #ffffff;
  }
  .mainstopwatch button:nth-of-type(2) {
    background-color: #ae7617;
  }
  .mainstopwatch button:last-child {
      margin-top: 12px;
    background-color: #17ae38;
  }
  .mainstopwatch button:hover {
    background: #333;
    color: #e0e0e0;
    border-radius: 38px;
  }